# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.dll
*.so
*.dylib

# Data folders
data/raw/
data/processed/

# Virtual environments
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Models
models/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.coverage
